**CS5002: Programming Principles and Practice**

**Practical P3: Data analysis and visualisation Python**

In [1]:
import json
import pandas as pd
import numpy as np

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/Scotland_teaching_file_1PCT.csv")

In [3]:
df.head()

,Record_Number,Region,RESIDENCE_TYPE,Family_Composition,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion,Economic_Activity,Occupation,industry,Hours_Worked_Per_Week,Approximate_Social_Grade
0,1,S92000003,P,1,1,4,2,2,2,2,1,5,1,5,5,4,3
1,2,S92000003,P,0,1,3,1,2,1,2,1,1,1,1,8,3,2
2,3,S92000003,P,1,2,4,2,2,1,3,1,1,1,4,8,2,4
3,4,S92000003,P,1,2,6,2,2,1,1,1,1,1,2,8,4,2
4,5,S92000003,P,4,2,4,4,2,1,2,1,1,1,3,11,3,2

Next, we read the JSON file with the interpretations of categories.

In [4]:
with open("../data/data_dictionary.json", "r") as read_file:
    labels = json.load(read_file)

In [5]:
labels

{'RESIDENCE_TYPE': {'C': 'Resident in a Communal Establishment',
  'P': 'Not resident in a Communal Establishment'},
 'Family_Composition': {'0': 'Not in a family',
  '1': 'Married/same-sex civil partnership couple family',
  '2': 'Cohabiting couple family',
  '3': 'Lone parent family (male head)',
  '4': 'Lone parent family (female lead)',
  '5': 'Other related family',
  'X': 'No code required (residents of a communal establishment)'},
 'Sex': {'1': 'Male', '2': 'Female'},
 'Age': {'1': '0 to 15',
  '2': '16 to 24',
  '3': '25 to 34',
  '4': '35 to 44',
  '5': '45 to 54',
  '6': '55 to 64',
  '7': '65 to 74',
  '8': '75 and over'},
 'Marital_Status': {}}

In [6]:
labels['Family_Composition']['0']

'Not in a family'