**CS5002: Programming Principles and Practice**

**Practical P3: Data analysis and visualisation Python**

In [1]:
import json
import pandas as pd
import numpy as np

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/Scotland_teaching_file_1PCT.csv")

In [9]:
df.describe()

,Record_Number,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion
count,63388.000000,63388.000000,63388.000000,63388.000000,63388.000000,63388.000000,63388.000000,63388.000000,63388.000000
mean,31694.500000,1.515807,4.092557,1.881224,1.810832,1.068515,1.717581,1.091595,2.203225
std,18298.683769,0.499754,2.203106,1.146424,0.391645,0.252629,0.926198,0.488468,2.016481
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,15847.750000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
50%,31694.500000,2.000000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000
75%,47541.250000,2.000000,6.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000
max,63388.000000,2.000000,8.000000,5.000000,2.000000,2.000000,5.000000,6.000000,9.000000

Next, we read the JSON file with the interpretations of categories.

In [10]:
with open("../data/data_dictionary.json", "r") as read_file:
    labels = json.load(read_file)

In [11]:
labels

{'RESIDENCE_TYPE': {'C': 'Resident in a Communal Establishment',
  'P': 'Not resident in a Communal Establishment'},
 'Family_Composition': {'0': 'Not in a family',
  '1': 'Married/same-sex civil partnership couple family',
  '2': 'Cohabiting couple family',
  '3': 'Lone parent family (male head)',
  '4': 'Lone parent family (female lead)',
  '5': 'Other related family',
  'X': 'No code required (residents of a communal establishment)'},
 'Sex': {'1': 'Male', '2': 'Female'},
 'Age': {'1': '0 to 15',
  '2': '16 to 24',
  '3': '25 to 34',
  '4': '35 to 44',
  '5': '45 to 54',
  '6': '55 to 64',
  '7': '65 to 74',
  '8': '75 and over'},
 'Marital_Status': {}}

In [12]:
labels['Family_Composition']['0']

'Not in a family'