<div style="display: flex; justify-content: space-between; align-items: center; padding: 10 px;">
    <h3 style="margin: 0 0 20px; color: #FFFFFF; line-height: 1"> CS5002: Programming Principles and Practice</h3>
    <img src="../rsc/logo.png" alt="University Logo" style="width: 80px; height: auto;"/>
</div>
                                  <!--  -->
<div style="display: flex; justify-content: space-between; width: 100%;">
  <span style="text-align: left;">Practical P3: Data analysis and visualisation Python</span>
  <span style="text-align: right; font-size: 12px;">Student ID: 200013825</span>
</div>

### Introduction 
This project aims to modularly read, clean and analyze real-world csv data. Below is the introduction on all the modules and major functions that worked together to complete data analysis.

`data_mining.py`: This executable python 
script automates data cleaning process, I used 
```python
invalid_mask = ~data[column].isin(valid_set)
```
to collect a list of booleans, indicating whether each csv code is admissible. 

Based on the context of this dataset, it is more efficient to neglect the type of the data when checking consistency, and then convert all data into pandas' categorical type. 
``` python
data[column] = data[column].astype(str)
```
I have converted all column in the data as string to help the determination of admissible values, and checked for missing columns or values, so then if encountered with any missing value, the row will be dropped.

To decode the csv data and to give context to the later stages of data analysis, i incorprated the data mapping at the stage of data_mining, so that the **cleaned_data.csv** contains all the code derived from json, with all the data being cleaned. I achieved this step by creating a helper function called **map_data** which takes the data to map as well as the json that was loaded in the **clean_data** function, and use **.map()** to map the data based on json if the column name match wth the json dictionary keys. Below is the logic to map data
```python
for column in data_to_map.columns:
        if column in decode_helper:
            data_to_map[column] = data_to_map[column].map(decode_helper[column])
```

`data_analysis.py`: This module contains function **analyze_data** and compute all the required analysis, then store all output from different requirements as a big dictionaries of dictionaires. This makes the overall workflow modular and clean with minimal repetition. One drawback would be the fact that all the analysis is hard-coded in, and reusability is diminished from this specific feature.

There are in total of 12 required data analysis, in the **data_analysis.py**, i have set them as requirements 1-12, and used pandas to analyze. A few analysis will be illustrated below. 

1. To get the percentage of records for any column, i used:
```python
column_counts = data['col_name'].value_counts(normalize=True) * 100
# then append the result to the big collective dictionary
results['requirement n name'] = column_counts.round(2).to_dict()
```
2. To group two columns together, i used:
```python
results['requirement n name'] = (data.groupby(['col_1', 'col_2']).size().to_dict())
```
As shown above, i collect each reqired results and have stored them in one dictionary called results. This helps with further processing and storing, as dictionary can centralize calculated results, and it can store a diverse range of data types.

### Problem Encountered

##### __1. infinite commit loop__: 
When I was trying to set up hooks for git to automatically update the gitlog everytime after commit, i accidently created an infinite loop of git commit, below was what I have included in the post-commit* file in .git/hooks:

``` python
#!/bin/bash
git log --oneline  --graph  > gitlog.txt
git commit -m 'gitlog.txt is updated with the latest commit history'
```
and this created redundant git log histroy that are shown in the gitlog.txt

I fixed it by deleting the line to commit within post-commit, after i realized that adding commit within post-commit can trigger recursive calls.

##### __2. system path append__: 
When I was trying to append certain relavant path to the sys path in order for jupyter notebook to read the file, i added the file path to sys path. After I print sys.path to check, i saw multiple paths being appended in the system paths, in order to clean this, i imported `site` which is a package that can help clear all custom paths and only keep the default path. I then used 
```python
sys.path = list(site.getsitepackages()) + sys.path [:1]
```
to implement this strategy. 
After clearing the system path, i appended the relative path using sys.path.append, and successfully imported the modules from **code** folder. As shown below.
```python
sys.path.append('./code')
```
Certain compiled python file was created to help faster import, and such files were added to .gitignore to prevent unncessary commiting and pushing because **\__pycache__\** will be created everytime the imported modules are ran.

##### __4. html header editing__: 
When i was trying to create proffesional looking header using html, it worked perfectly in vscode like so:
***
![Image](../rsc/Jupyter_heading.png)
***
But when i viewed it in jupyter notebook via jupyter, it did not look that aligned as shown below: 
***
![Image](../rsc/Jupyter_heading_notgood.png)
***

### Project showcase

**First set up the neccessary dependencies for the project**

In [3]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
sys.path.append('../code')
from data_analysis import analyze_csv
from data_visualization import dict_to_df

# results_dict is the dictionary that the analyze_data function returns
resutlts_dict = analyze_csv()

Data has been analyzed and a dictionary with
 dict_keys(['total_record', 'data_types', 'value_counts', 'age_count', 'occupation_counts', 'health_percentages', 'ethnic_group_percentages', 'hours_worked_by_industry', 'occupation_by_social_grade', 'economically_active_by_age', 'economically_inactive_by_health', 'working_hours_for_students'])
 columns have been created ans stored!

### **Basic Requirement**
**1: the total number of records in the dataset**

In [4]:
resutlts_dict['total_record']

63388

**2: the type of each variable in the dataset**

In [5]:
resutlts_dict['data_types']

{'record_number': dtype('int64'),
 'region': dtype('O'),
 'residence_type': dtype('O'),
 'family_composition': dtype('O'),
 'sex': dtype('O'),
 'age': dtype('O'),
 'marital_status': dtype('O'),
 'student': dtype('O'),
 'country_of_birth': dtype('O'),
 'health': dtype('O'),
 'ethnic_group': dtype('O'),
 'religion': dtype('O'),
 'economic_activity': dtype('O'),
 'occupation': dtype('O'),
 'industry': dtype('O'),
 'hours_worked_per_week': dtype('O'),
 'approximate_social_grade': dtype('O')}

**3: Value counts of the dataset except 'record_number' and 'region'**

In [6]:
resutlts_dict['value_counts']

{'residence_type': {'Not resident in a Communal Establishment': 62239,
  'Resident in a Communal Establishment': 1149},
 'family_composition': {'Married/same-sex civil partnership couple family': 33337,
  'Not in a family': 11716,
  'Lone parent family (female lead)': 7757,
  'Cohabiting couple family': 7660,
  'residents of a communal establishment': 1149,
  'Lone parent family (male head)': 1019,
  'Other related family': 750},
 'sex': {'Female': 32696, 'Male': 30692},
 'age': {'0 to 15': 10980,
  '45 to 54': 9336,
  '35 to 44': 8963,
  '25 to 34': 8056,
  '55 to 64': 7854,
  '16 to 24': 7541,
  '65 to 74': 5731,
  '75 and over': 4927},
 'marital_status': {'Single (Never married or never registered a same-sex civil partnership': 29611,
  'Married or in a same sex-civil partnership': 23918,
  'Divorced or formerly in a same-sex civil partnership which is now legally dissolved': 4159,
  'Widowed or surviving partner from a same-sex civil partnership': 4032,
  'Separated, but still legally married or still legally in a same-sex civil partnership': 1668},
 'student': {'No': 51397, 'Yes': 11991},
 'country_of_birth': {'UK': 59045, 'Non UK': 4343},
 'health': {'Very good health': 33436,
  'Good health': 18825,
  'Fair health': 7544,
  'Bad health': 2759,
  'Very bad health': 824},
 'ethnic_group': {'White': 60901,
  'Asian': 1667,
  'African': 376,
  'Mixed or multiple ethnic group': 199,
  'Other ethnic group': 165,
  'Caribbean or black': 80},
 'religion': {'Christian': 34199,
  'No religion': 23309,
  'Not stated': 4335,
  'Muslim': 906,
  'Hindu': 187,
  'Other religion': 162,
  'Sikh': 116,
  'Buddhist': 113,
  'Jewish': 61},
 'economic_activity': {'Economically active: Employed': 25350,
  'Economically inactive: Retired': 11527,
  'Aged under 16': 10980,
  'Economically active: Self-Employed': 3623,
  'Economically inactive: Student': 2691,
  'Economically inactive: Long-term sick or disabled': 2543,
  'Economically active: Unemployed': 2183,
  'Economically active: Full-time student': 1743,
  'Economically inactive: Looking after home or family': 1741,
  'Economically inactive: Other': 1007},
 'occupation': {'People aged under 16 and people who have never worked': 14435,
  'Elementary Occupations': 7256,
  'Professional Occupations': 7237,
  'Skilled Trades Occupations': 6140,
  'Administrative and Secretarial Occupations': 6010,
  'Associate Professional and Technical Occupations': 5015,
  'Sales and Customer Service Occupations': 4934,
  'Caring, Leisure and Other Service Occupations': 4484,
  'Process, Plant and Machine Operatives': 4327,
  'Managers, Directors and Senior Officials': 3550},
 'industry': {'People aged under 16 and people who have never worked': 14435,
  'Wholesale and retail trade; Repair of motor vehicles and motorcycles': 7557,
  'Human health and social work activities': 6817,
  'Mining and quarrying; Manufacturing; Electricity, gas, steam and air conditioning system; Water supply': 6318,
  'Real estate activities; Professional scientific and technical activities; Administrative and support service activities': 4818,
  'Education': 4123,
  'Construction': 3876,
  'Transport and storage; Information and communication': 3754,
  'Accommodation and food service activities': 3309,
  'Public administration and defence': 3225,
  'Financial and insurance activities': 1979,
  'Other': 1172,
  'Arts; entertainment and recreation': 1107,
  'Agriculture, forestry and fishing': 898},
 'hours_worked_per_week': {'People aged under 16 and people not working': 32851,
  'Full-time: 31 to 48 hours worked': 18333,
  'Part-time: 16 to 30 hours worked': 6518,
  'Full-time 49 or more hours worked': 3543,
  'Part-time: 15 or less hours worked': 2143},
 'approximate_social_grade': {'C1': 15607,
  'DE': 14709,
  'People aged under 16 and people resident in communal establishments': 12090,
  'C2': 11602,
  'AB': 9380}}

**4: bar chart for the number of records for each age group**

In [7]:
resutlts_dict['age_count']

{'0 to 15': 10980,
 '45 to 54': 9336,
 '35 to 44': 8963,
 '25 to 34': 8056,
 '55 to 64': 7854,
 '16 to 24': 7541,
 '65 to 74': 5731,
 '75 and over': 4927}

**5: bar chart for the number of records for each occupation**

In [8]:
resutlts_dict['occupation_counts']

{'People aged under 16 and people who have never worked': 14435,
 'Elementary Occupations': 7256,
 'Professional Occupations': 7237,
 'Skilled Trades Occupations': 6140,
 'Administrative and Secretarial Occupations': 6010,
 'Associate Professional and Technical Occupations': 5015,
 'Sales and Customer Service Occupations': 4934,
 'Caring, Leisure and Other Service Occupations': 4484,
 'Process, Plant and Machine Operatives': 4327,
 'Managers, Directors and Senior Officials': 3550}

### **Additional Requirements**

**6: pie chart for the percentage of records for each general health descriptor**

In [9]:
resutlts_dict['health_percentages']

{'Very good health': 52.75,
 'Good health': 29.7,
 'Fair health': 11.9,
 'Bad health': 4.35,
 'Very bad health': 1.3}

**7: pie chart for the percentage of records for each ethnic group**

In [10]:
resutlts_dict['ethnic_group_percentages']

{'White': 96.08,
 'Asian': 2.63,
 'African': 0.59,
 'Mixed or multiple ethnic group': 0.31,
 'Other ethnic group': 0.26,
 'Caribbean or black': 0.13}

**8: showcase the number of records by hours worked per week and industry**

In [ ]:
Q3_dict = resutlts_dict['hours_worked_by_industry']

# transform the dictionary to dataframe for better readability
results_df = pd.DataFrame.from_dict(Q3_dict, orient = 'index',columns = ['count'])
# reset the index and split the tuple keys into separate columns
results_df.reset_index(inplace=True)
results_df[['hours_worked_per_week', 'industry']] = pd.DataFrame(results_df['index'].tolist(), index=results_df.index)
results_df.drop(columns='index',inplace=True)
results_df

# results_df = dict_to_df(Q3_dict, col_names = ['hours_worked_per_week','industry','count'])
# results_df

,count,hours_worked_per_week,industry
0,230,Full-time 49 or more hours worked,Accommodation and food service activities
1,258,Full-time 49 or more hours worked,"Agriculture, forestry and fishing"
2,57,Full-time 49 or more hours worked,Arts; entertainment and recreation
3,427,Full-time 49 or more hours worked,Construction
4,253,Full-time 49 or more hours worked,Education
...,...,...,...
61,14435,People aged under 16 and people not working,People aged under 16 and people who have never...
62,1116,People aged under 16 and people not working,Public administration and defence
63,1588,People aged under 16 and people not working,Real estate activities; Professional scientifi...
64,1324,People aged under 16 and people not working,Transport and storage; Information and communi...
65,2954,People aged under 16 and people not working,Wholesale and retail trade; Repair of motor ve...

**3: showcasing the number of records by occupation and approximate social grade**

**n : the number of economically active people depending on age**

**3: the number of economically inactive people depending on a health descriptor**

**3: the number of working hours per week for students (4,6)**